.movie {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(50, 49, 63);
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
}

.movie p {
  color: rgb(224, 224, 224);
}

iframe {
  width: 500px;
  height: 350px;
  border: none;
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
  }
}